{
  "extends": ["taro/react", "alloy", "alloy/react", "alloy/typescript", "plugin:react-hooks/recommended"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/consistent-type-assertions": [0],
    "react-hooks/exhaustive-deps": "warn",
    "no-return-assign": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/explicit-member-accessibility": "off"
  },
  "plugins": ["prettier"],
  "globals": {
    "wx": true,
    "definePageConfig": true,
    "defineAppConfig": true
  }
}
