.column-direction() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mine__page {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: calc(20px + constant(safe-area-inset-bottom));
  padding-bottom: calc(20px + env(safe-area-inset-bottom));

  .header {
    box-sizing: border-box;
    // background-repeat: no-repeat;
    background-image: url('~@/assets/images/banner/banner2.jpg');
    background-size: contain;
  }
  .main {
    margin-top: -100px;
    .column-direction();
    .avatar__wrapper {
      position: relative;
      margin-bottom: 10px;
      .column-direction();

      .avatar {
        border: 6px solid #fff;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
      }
      .edit {
        width: 32px;
        height: 32px;

        position: absolute;
        bottom: 20px;
        right: -10px;

        display: flex;
        align-items: center;
      }
    }
    .nickname__wrapper {
      font-size: 38px;
      margin-bottom: 20px;
      font-weight: 500;
    }

    .statistic__wrapper {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;

      .statistic__item {
        .column-direction();
        width: 320px;
        height: 180px;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        box-sizing: border-box;
        padding: 24px;

        &:nth-child(1) {
          margin-right: 20px;
        }

        .type {
          display: flex;
          align-items: center;
          .name {
            margin-left: 10px;
          }
        }
      }
    }
    .task__wrapper {

    }
    .vanLeaveActiveClass {
      transform: rotate(-360deg) translate3d(-100%, -100%, 0);
    }
    .vanEnterActiveClass,
    .vanLeaveActiveClass {
      transition-property: transform;
    }
  }
}
